<div class="container">
  <form>
    <div class="form-control">
      <label for="nume">Nume</label>
      <input type="text" name="nume" id="nume" placeholder="Adauga nume" />
    </div>
    <div class="form-control">
      <label for="prenume">Prenume</label>
      <input
        type="text"
        name="prenume"
        id="prenume"
        placeholder="Adauga prenume"
      />
    </div>
    <div class="form-control">
      <label for="dataNasterii">Data nasterii</label>
      <input
        type="date"
        name="dataNasterii"
        id="dataNasterii"
        placeholder="Adauga dataNasterii"
      />
    </div>
    <div class="form-control custom-select">
      <label for="sex">Sexul persoanei</label>
      <select name="sex" id="sex" style="width: 110px">
        <option value="M">M</option>
        <option value="F">F</option>
      </select>
    </div>
    <div class="form-control">
      <label for="cnp">cnp</label>
      <input type="number" name="cnp" id="cnp" placeholder="Adauga CNP" />
    </div>
    <div class="form-control">
      <label for="telefon">Numar telefon</label>
      <input
        type="text"
        name="telefon"
        id="telefon"
        placeholder="Adauga telefon"
      />
    </div>
  </form>
</div>
